service: ruby-functions-two

frameworkVersion: '3'

provider:
  name: aws
  runtime: nodejs16.x
  region: eu-west-2

functions:
  updateMintsIT:
    handler: functions/updateMintsIT.handler
    events:
      - schedule: rate(1 minute)
  updateMintsGem:
    handler: functions/updateMintsGem.handler
    events:
      - schedule: rate(5 minutes)
  updateSweepsGem:
    handler: functions/updateSweepsGem.handler
    events:
      - schedule: rate(1 minute)
