@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  position: unset!important;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'biotif', serif;
}

@layer base {
  /*noinspection ALL*/
  @font-face {
    font-family: 'Biotif';
    font-weight: 300;
    src: url('/fonts/Biotif-Light.woff2') format('woff2');
  }
  /*noinspection ALL*/
  @font-face {
    font-family: 'Biotif';
    font-weight: 400;
    src: url('/fonts/Biotif-Regular.woff2') format('woff2');
  }
  /*noinspection ALL*/
  @font-face {
    font-family: 'Biotif';
    font-weight: 500;
    src: url('/fonts/Biotif-Medium.woff2') format('woff2');
  }
  /*noinspection ALL*/
  @font-face {
    font-family: 'Biotif';
    font-weight: 600;
    src: url('/fonts/Biotif-SemiBold.woff2') format('woff2');
  }
  /*noinspection ALL*/
  @font-face {
    font-family: 'Biotif';
    font-weight: 700;
    src: url('/fonts/Biotif-Bold.woff2') format('woff2');
  }
  /*noinspection ALL*/
  @font-face {
    font-family: 'Biotif';
    font-weight: 700;
    src: url('/fonts/Biotif-ExtraBold.woff2') format('woff2');
  }
  /*noinspection ALL*/
  @font-face {
    font-family: 'Biotif';
    font-weight: 900;
    src: url('/fonts/Biotif-Black.woff2') format('woff2');
  }
}

.rectangle-logo {
  width: 24px;
  height: 24px;
  background: linear-gradient(112.65deg, #bd0b00 6.08%, #92124f 63.2%), #ffffff;
  border-radius: 4px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

html {
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll;
}

.highcharts-credits {
  display: none !important;
  opacity: 0;
}

.web3modal-modal-lightbox {
  z-index: 100 !important;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* toggle theme icon */

.toggle-checkbox {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.toggle-slot {
  position: relative;
  height: 1.5em;
  width: 3em;
  border: 1px solid #e4e7ec;
  border-radius: 3em;
  background-color: white;
  box-shadow: 0px 2px 4px #ffffff1b;
  transition: background-color 250ms;
}

.toggle-checkbox:checked ~ .toggle-slot {
  background-color: #0f1011;
}

.toggle-button {
  transform: translate(170%, 25%);
  position: absolute;
  height: 65%;
  width: 34%;
  border-radius: 50%;
  background-color: #ffeccf;
  box-shadow: inset 0px 0px 0px 0.1em #ffbb52;
  transition: background-color 200ms, border-color 200ms,
    transform 500ms cubic-bezier(0.26, 2, 0.46, 0.71);
}

.toggle-checkbox:checked ~ .toggle-slot .toggle-button {
  background-color: #485367;
  box-shadow: inset 0px 0px 0px 0.1em white;
  transform: translate(25%, 25%);
}

.sun-icon {
  position: absolute;
  height: 65%;
  width: 65%;
  color: #ffbb52;
}

.sun-icon-wrapper {
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 1;
  transform: translate(-10%, 25%) rotate(15deg);
  transform-origin: 50% 50%;
  transition: opacity 150ms, transform 500ms cubic-bezier(0.26, 2, 0.46, 0.71);
}

.toggle-checkbox:checked ~ .toggle-slot .sun-icon-wrapper {
  opacity: 0;
  transform: translate(0%, 0%) rotate(0deg);
}

.moon-icon {
  position: absolute;
  height: 68%;
  width: 68%;
  color: white;
}

.moon-icon-wrapper {
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0;
  transform: translate(-0%, 0%) rotate(0deg);
  transform-origin: 50% 50%;
  transition: opacity 150ms, transform 500ms cubic-bezier(0.26, 2.5, 0.46, 0.71);
}

.moon-icon-wrapper path,
.sun-icon-wrapper g {
  fill: currentColor;
}

.toggle-checkbox:checked ~ .toggle-slot .moon-icon-wrapper {
  opacity: 1;
  transform: translate(43%, 8%) rotate(-15deg);
}

onboard-v2 {
  display: none;
}
