@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'biotif', serif;
}

@layer base {
  /*noinspection ALL*/
  @font-face {
    font-family: 'Biotif';
    weight: 300;
    src: url(/assets/Biotif/Biotif Light.otf) format('otf');
  }
  /*noinspection ALL*/
  @font-face {
    font-family: 'Biotif';
    weight: 400;
    src: url(/assets/Biotif/Biotif Regular.otf) format('otf');
  }
  /*noinspection ALL*/
  @font-face {
    font-family: 'Biotif';
    weight: 500;
    src: url(/assets/Biotif/Biotif Medium.otf) format('otf');
  }
  /*noinspection ALL*/
  @font-face {
    font-family: 'Biotif';
    weight: 600;
    src: url(/assets/Biotif/Biotif SemiBold.otf) format('otf');
  }
  /*noinspection ALL*/
  @font-face {
    font-family: 'Biotif';
    weight: 700;
    src: url(/assets/Biotif/Biotif Bold.otf) format('otf');
  }
  /*noinspection ALL*/
  @font-face {
    font-family: 'Biotif';
    weight: 900;
    src: url(/assets/Biotif/Biotif Black.otf) format('otf');
  }
}

.rectangle-logo {
  width: 24px;
  height: 24px;
  background: linear-gradient(112.65deg, #bd0b00 6.08%, #92124f 63.2%), #ffffff;
  border-radius: 4px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

html {
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll;
}
