@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'biotif', serif;
}

@layer base {
  /*noinspection ALL*/
  @font-face {
    font-family: 'CircularStd-Bold';
    src: url(/fonts/CircularStd-Bold.woff2) format('woff2');
  }
  /*noinspection ALL*/
  @font-face {
    font-family: 'CircularStd-Medium';
    src: url(/fonts/CircularStd-Medium.woff2) format('woff2');
  }
  /*noinspection ALL*/
  @font-face {
    font-family: 'CircularStd-Book';
    src: url(/fonts/CircularStd-Book.woff2) format('woff2');
  }
  /*noinspection ALL*/
  @font-face {
    font-family: 'Aeonik-Regular';
    src: url(/fonts/Aeonik-Regular.woff2) format('woff2');
  }
}

.rectangle-logo {
  width: 24px;
  height: 24px;
  background: linear-gradient(112.65deg, #bd0b00 6.08%, #92124f 63.2%), #ffffff;
  border-radius: 4px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

html {
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll;
}
