@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
}

@layer base {
  /*noinspection ALL*/
  @font-face {
    font-family: 'CircularStd-Bold';
    src: url(/fonts/CircularStd-Bold.woff2) format('woff2');
  }
  /*noinspection ALL*/
  @font-face {
    font-family: 'CircularStd-Medium';
    src: url(/fonts/CircularStd-Medium.woff2) format('woff2');
  }
  /*noinspection ALL*/
  @font-face {
    font-family: 'CircularStd-Book';
    src: url(/fonts/CircularStd-Book.woff2) format('woff2');
  }
  /*noinspection ALL*/
  @font-face {
    font-family: 'Aeonik-Regular';
    src: url(/fonts/Aeonik-Regular.woff2) format('woff2');
  }

  @font-face {
    font-family: 'Biotif-Regular';
    src: url(/fonts/Biotif-Regular.woff2) format('woff2');
  }  
}

.rectangle-logo {
  width: 24px;
  height: 24px;
  background: linear-gradient(112.65deg, #BD0B00 6.08%, #92124F 63.2%), #FFFFFF;
  border-radius: 4px;
  flex: none;
  order: 0;
  flex-grow: 0;
}
